<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vmark.backend.mapper.ItemMapper">
    <!-- Inserts -->
    <insert id="add">
        INSERT INTO items(`name`, cid, price)
        VALUES (#{name}, #{cid}, #{price})
    </insert>

    <!-- Updates -->
    <update id="update">
        UPDATE items
        <set>
            <if test="true">
                `name` = #{name},
            </if>
            <if test="aid != null">
                picture = #{aid},
            </if>
            <if test="true">
                price = #{price},
            </if>
            <if test="sale != null">
                sale = #{sale},
            </if>
            <if test="description != null">
                `description` = #{description},
            </if>
            <if test="true">
                remain = #{remain},
            </if>
        </set>
        WHERE iid = #{iid}
    </update>

    <!-- Deletes -->
    <delete id="deleteById">
        DELETE FROM items
        WHERE iid = #{iid}
    </delete>

    <!-- Selects -->
    <select id="findById" resultType="com.vmark.backend.entity.Item">
        SELECT *
        FROM items
        WHERE items.iid = #{iid}
    </select>

    <select id="searchAll" resultType="com.vmark.backend.entity.Item">
        SELECt items.iid, `name`, `path` AS picture, price, sale, `description`, remain
        FROM items LEFT JOIN attachments ON items.picture = attachments.aid
        <if test="keyword != null">
        WHERE `name` LIKE CONCAT('%', #{keyword}, '%')
        </if>
        <choose>
            <when test="offset != null">
        LIMIT #{offset}, 20
            </when>
            <otherwise>
        LIMIT 20
            </otherwise>
        </choose>
    </select>
</mapper>
