<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vmark.backend.mapper.ItemMapper">
    <insert id="add">
        INSERT INTO items(`name`, cid, price)
        VALUES (#{name}, #{cid}, #{price})
    </insert>

    <update id="update">
        UPDATE items
        <set>
            <if test="name != null">
                `name` = #{name},
            </if>
            <if test="cid != null">
                cid = #{cid},
            </if>
            <if test="price != null">
                price = #{price}
            </if>
            <if test="remain != null">
                remain = #{remain},
            </if>
            <if test="aid != null">
                picture = #{aid},
            </if>
            <if test="sale != null">
                sale = #{sale},
            </if>
            <if test="description != null">
                `description` = #{description},
            </if>
        </set>
        WHERE iid = #{iid}
    </update>

    <delete id="delete">
        DELETE FROM items
        WHERE iid = #{iid}
    </delete>

    <select id="count" resultType="int">
        SELECT COUNT(*)
        FROM items
    </select>

    <select id="findById" resultType="Item">
        SELECT *
        FROM items
        WHERE iid = #{iid}
    </select>
    <select id="findAll" resultType="Item">
        SELECT *
        FROM items
        <where>
            <if test="name != null">
        AND `name` LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="hideSoldOut != null">
        AND remain != 0
            </if>
            <if test="cid != null">
        AND cid = #{cid}
            </if>
        </where>
        <if test="orderName != null">
        ORDER BY ${orderName} ${orderType}
        </if>
    </select>
</mapper>
