<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vmark.backend.mapper.ItemMapper">
    <insert id="add" parameterType="com.vmark.backend.entity.Item">
        INSERT INTO items(`name`, price) VALUES (#{name}, #{price});
    </insert>

    <update id="update" parameterType="com.vmark.backend.entity.Item">
        UPDATE items SET `name` = #{name} WHERE iid = #{iid}
    </update>

    <delete id="deleteById" parameterType="int">
        DELETE FRoM items WHERE iid = #{iid}
    </delete>

    <select id="findById" parameterType="int" resultType="com.vmark.backend.entity.Item">
        SELECT * FROM items WHERE iid = #{iid}
    </select>
    <select id="findByKeyword" parameterType="java.lang.String" resultType="com.vmark.backend.entity.Item">
        SELECT * FROM items WHERE `name` LIKE #{keyword}
    </select>
    <select id="findAlll" resultType="com.vmark.backend.entity.Item">
        SELECt * FROM items;
    </select>

</mapper>