<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vmark.backend.mapper.UserMapper">
    <insert id="add">
        INSERT INTO users(`account`, `password`)
        VALUES (#{account}, #{password})
    </insert>

    <update id="updateInfo">
        UPDATE users
        <set>
            <if test="name != null">
                `name` = #{name},
            </if>
            <if test="password != null">
                `password` = #{password},
            </if>
        </set><![CDATA[
        WHERE uid = #{uid} AND (uid = #{opUid} OR privilege < #{opPrivilege})
    ]]></update>
    <update id="updatePrivilege">
        UPDATE users
        SET privilege = #{privilege}
        WHERE uid = #{uid}
    </update>

    <delete id="delete">
        DELETE FROM users
        WHERE uid = #{uid}
    </delete>

    <select id="count" resultType="int">
        SELECT COUNT(*)
        FROM users
    </select>

    <select id="findById" resultType="User">
        SELECT *
        FROM users
        WHERE uid = #{uid}
    </select>
    <select id="findByAccount" resultType="User">
        SELECT *
        FROM users
        WHERE `account` = #{uid}
    </select>
    <select id="findAll" resultType="User">
        SELECT *
        FROM users
        ORDER BY privilege DESC, uid
        LIMIT #{offset}, 20
    </select>
</mapper>
