<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vmark.backend.mapper.UserMapper">
    <!-- Insert -->
    <insert id="add"><![CDATA[
        INSERT INTO users(`account`, `password`, privilege)
        VALUES (#{account}, #{password}, #{privilege})
    ]]></insert>

    <!-- Update -->
    <update id="updateInfo">
        UPDATE users
        <set>
            <if test="name != null">
                `name` = #{name},
            </if>
            <if test="password != null">
                `password` = #{password},
            </if>
        </set><![CDATA[
        WHERE uid = #{uid} AND (uid = #{opUid} OR privilege < #{opPrivilege})
    ]]></update>
    <update id="updatePrivilege"><![CDATA[
        UPDATE users
        SET privilege = #{privilege}
        WHERE uid = #{uid}
    ]]></update>

    <!-- Delete -->
    <delete id="deleteById"><![CDATA[
        DELETE FROM users
        WHERE uid = #{uid}
    ]]></delete>

    <!-- Select -->
    <select id="findById" resultType="com.vmark.backend.entity.User"><![CDATA[
        SELECT *
        FROM users
        WHERE uid = #{uid}
    ]]></select>
    <select id="findByAccount" resultType="com.vmark.backend.entity.User"><![CDATA[
        SELECT *
        FROM users
        WHERE `account` = #{uid}
    ]]></select>
    <select id="findLimit" resultType="com.vmark.backend.entity.User"><![CDATA[
        SELECT *
        FROM users
        LIMIT #{offset}, #{rows}
    ]]></select>
</mapper>
